body{
  height: 100vh;
}

.container--produto {
  border-spacing: 0;
  width: 100%;
  height: 70vh;
}

.Produto--nome, .Produto--preco {
  background: #B9B9B9;
  border: 1px solid #000000;
  font-size: 6vh;
  /* height: (100/6)%; */
}

.Produto--nome {
  width: 70%;
}

.Produto--preco {
  width: 30%;
  text-align: center;
}

.senha {
  color: red;
  font-size: 20vh;
  background-color: #000000; 
  margin: 0;
  height: 30vh;
  display:flex;
  align-items: center;
  justify-content: center;
}